<!--- will show in every single page that extends this base template --->

{% load static %}

<!DOCTYPE html>
<hmtl>
<head>  
    <title>TRAVEL WISHLIST</title>  
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sakura.css/css/sakura.css" type="text/css">  <!--- sakura css framework --->
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">  <!--- load own stylesheet --->
</head>

<h1 id="site-header">WHERE DO YOU WANT TO GO?</h1>

<body>
    {% block content %} {% endblock %}  <!--- child content --->
</body>

<div>  <!--- footer --->
    <p>a travel wishlist, build with Django</p>
    <a class="nav-link" href="{% url 'place_list' %}">Wishlist</a>
    <a class="nav-link" href="{% url 'places_visited' %}">Places visited</a>
    <a class="nav-link" href="{% url 'about' %}">About</a>
</div>

</hmtl>
