{% extends './base.html' %}  <!--- "inheriting" from ./base.html--->
{% block content %}

<h2>TRAVEL WISHLIST</h2>

<form class="visited-form" method="POST" action="{% url 'place_list' %}">  <!--- TODO make 'add' button in-line --->
    {% csrf_token %}
    {{ new_place_form }}
    <button id="add-new-place" type="sumbit">add</button>
</form> 


{% for place in places %}

<div class="wishlist-place">
    <span id="place-name-{{ place.pk }}" class="place-name">
        <a href="{% url 'place_details' place.pk %}">{{ place.name }}</a>
    </span>

    <form class="visited-form" method="POST" action="{% url 'place_was_visited' place.pk %}">  <!--- url reversing; will fill in placeholder in the path in urls.py (place/<int:place_pk>/was_visited) --->
        {% csrf_token %}
        <button id="visited-button-{{ place.pk }}" type="submit">visited</button>
    </form>

</div>

{% empty %} <!--- if list is empty --->

<p>you have no places in your wishlist</p>

{% endfor %}

{% endblock %}
