span.place-name {
    display: inline-block;
    width: 70%;
}

form.visited-form {
    display: inline;  /* display all elements in same line */
}

div.wishlist-place {
    margin: 20px;
}

label {
    display: inline-block;
    padding-right: 8px;
}

a.nav-link {
    margin-right: 10px;
}

#add-new-place {
    background-color: green;
    border: darkgreen;
}

button.delete {
    background-color: red;
}

#site-header {
    background: url('../img/banner.jpg') 0 0 repeat-x;
    color: white;
    padding: 40px 0 40px 0px;
    text-align: center;
}
